
<div id="main-container" class="fixed full-width">

    <nav id="top-navigation"></nav>

    <div id="navigation-wrapper" class="button-bar"></div>
    <div id="display-wrapper" class="display-container">
      Loading Content...
    </div>

    </div>
  </div>
</div>
