<div id="main-container">
  <div class="row full-width">

      <div id="display-wrapper" class="display-container small-10 medium-11 small-push-2 medium-push-1 columns">
        Loading Content...
      </div>

      <div class="small-2 medium-1 small-pull-10 medium-pull-11 columns vertical-align">
        <div id="navigation-wrapper" class="navigation-container button-bar"></div>
      </div>

    </div>
  </div>
</div>
