$chart-easing: cubic-bezier(0.42, 0, 0.58, 1);
$subber-slide-offset: -300px;
$chart-slide-offset: -275px;


.chart-custom-scroll::-webkit-scrollbar-track {
}

.chart-custom-scroll::-webkit-scrollbar {
  height: 3px;
  width: 5px;
	background-color: #F5F5F5;
}

.chart-custom-scroll::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  border-radius: 9px;
  width: 5px;
  background-clip: content-box;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #555;
}

.charts-view {
  .chart-canvas {
  }

  .canvas-container {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    height: 100%;
    transition: all 250ms $chart-easing;
    transform: translateY($chart-slide-offset);

    .chart-option-bar {
      height: 60px;
      border-bottom: 1px solid #D3D3D3;
      margin-bottom: 20px;

      p {
        float: left;
        margin-top: 8px;
        vertical-align: middle;
        font-size: 25px;
        color: #999999;
      }

      .ci {
        top: 20px;
        color: #D3D3D3;
        font-size: 25px;
        margin-top: 10px;
        float: right;
        transition: 100ms;

        &:hover {
          color: #191919;
        }
      }
    }
  }

  .subbers-placeholder {
    height: 200px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subbers-container {

    background-color: #DCE5F2;
    height: 350px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    transform: translateY($subber-slide-offset);
    transition: all 200ms $chart-easing;

    .chart-subber-button {
      transition: 100ms;
      width: 150px;
      height: 150px;
      margin-right: 10px !important;
      margin-left: 10px !important;

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        box-shadow: none;
      }

      .bi {
        font-size: 25px;
        color: #DCE5F2;
        margin: 5px !important;
      }
      .bi-label {
        font-size: 12px;
        font-weight: 500;
      }

    }

    &:hover ~ .canvas-container {
      transform: translateY(0px);
    }
    &:hover {
      transform: translateY(0px);
    }
  }
}

.chart-arrow-container {

  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: black;

  .chart-arrow {

    color: #96D300;
    font-size: 25px;
    text-align: center;

    animation: chart_arrow_blink 2s infinite;

    @keyframes chart_arrow_blink {
      0% {
        opacity: 1
      }
      20% {
        opacity: 1
      }
      100% {
        opacity: 1
      }
    }
  }
}
