
.align-middle {
  top: 40%;
  transform: translateY(30%);
}

.main-summary-container {

  height: 100%;

  .summary-container {
    margin-bottom: 0;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      border-radius: 10px 10px 10px 10px;
      border: 1px solid #8da2b5;
    }

    .home-i {
      font-size: 60px;
      padding: 10px;
      display: block;
      color: #999999;
    }

  }

  .summary-inner {
    border: 1px solid #8da2b5;
  }
}
