.button {
  margin: 0 0 0 0 !important;
}

.edit-subber-form {
  overflow: hidden;
}

.server-edit-button {
  color: #B3C0CF;
  .fi-pencil .fi-arrow-up{
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
  }
}

td {
  border-left: 1px solid #F0F4F7 !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: 350 !important;
  color: #191919 !important;

  div {
    transition: 2s;
  }
  input {
    margin: 0 0 0 0;
  }

}
.cancel-row {
  background-color: #F0F4F7;
}

.light {
  font-weight: 400 !important;
  color: #8da2b5 !important;
}

span.fa {
  color: #191919;
}
i.fa {
  color: #435F80;
}

$dropdown-offset: -205px;

.index-main-container {
  transform: translateY($dropdown-offset);
  transition: transform 300ms;
}
.register-subber-placeholder {
  display: block;
  padding-bottom: 10px;
  transition: transform 200ms;
  transform: translateY($dropdown-offset);

  &:hover {
    transform: translateY(10px);
  }
  &:hover ~ .index-main-container {
    transform: translateY(0px);
  }
}
